.address {
  margin-top: 20px;

  font-style: normal;

  &__paragraph {
    color: $primary-white-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }

  &__item {
    margin-top: 9px;
  }

  &__link {
    color: $mail-tel-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
  }
}
