.logo {
  color: $logo-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &__text {
    color: $accent-color;
  }

  &--footer {
    color: $primary-white-color;
  }
}
