.page-header {
  border-bottom: 1px solid $border-header-color;
}

.page-header__box {
  display: flex;
  align-items: center;
}
.page-header__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover,
.page-header__link:focus {
  color: $accent-color;
}

.page-header__item {
  margin-left: 50px;
}

.page-header__item:first-child {
  margin-left: 0;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__icon--mail {
  width: 16px;
  height: 12px;
}

.page-header__icon--tel {
  width: 10px;
  height: 16px;
}
